{{ form_start(form) }}
{{ form_row(form.alias) }}
<div class="row">
    <div class="col-12 col-sm-6">{{ form_row(form.firstName) }}</div>
    <div class="col-12 col-sm-6">{{ form_row(form.lastName) }}</div>
</div>
<div class="row">
    <div class="col-12 col-sm-6">{{ form_row(form.country) }}</div>
    <div class="col-12 col-sm-6">{{ form_row(form.city) }}</div>
</div>
{{ form_row(form.district) }}
{{ form_row(form.details) }}
{{ form_row(form.phone) }}
<div class="text-center">
    <button type="submit" class="btn btn-primary rounded-0">
        enregistrer
    </button>
</div>
{{ form_end(form) }}